@import url('https://prismjs.com/themes/prism-solarizedlight.min.css');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Display:ital,wght@0,900;1,900&subset=latin&display=swap');

:root {
	--color-blue-hs: 200 90%;
	--color-blue: hsl(var(--color-blue-hs) 50%);
	--color-magenta-hs: 335 90%;
	--color-magenta: hsl(var(--color-magenta-hs) 50%);
	--color-green-hs: 90 90%;
	--color-green: hsl(var(--color-green-hs) 50%);
	--color-orange-hs: 30 100%;
	--color-orange: hsl(var(--color-orange-hs) 50%);

	--accent-color-hs: var(--color-magenta-hs);
	--accent-color: var(--color-magenta);
	--accent-color-2-hs: var(--color-blue-hs);
	--accent-color-2: var(--color-blue);

	--focus-color: var(--color-blue);
	--gray: 220 10%;

	--font-body: system-ui, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	--font-heading: 'Noto Serif Display', var(--font-body);
	--font-mono: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;

	--page-width: 900px;
	--space-x: clamp(1em, 50vw - var(--page-width) / 2, 50vw);
}

a {
	color: hsl(var(--color-blue-hs) 30%);

	&:hover:where(:not(header a, nav a)) {
		color: hsl(var(--color-blue-hs) 40%);
	}
}

h1, h2, h3 {
	position: relative;
	font-family: var(--font-heading);
	text-shadow: var(--ts-offset) var(--ts-offset) 0 white, calc(2* var(--ts-offset)) calc(2* var(--ts-offset)) 0 var(--ts-color);

	& > a:only-child { /* Permalinks */
		color: inherit;
		font: inherit;
		text-decoration: none;

		&::before {
			content: "#";
			position: absolute;
			right: calc(100% + .3em);
			transform: .4s opacity;
			color: var(--color-blue);
			font-weight: bold;
		}

		&:not(:hover, :focus) {
			&::before {
				opacity: 0;
			}
		}
	}
}

h2 {
	font-size: 250%;
	--ts-offset: .03em;
	--ts-color: var(--accent-color);
}

h3 {
	font-size: 200%;
}

h4 {
	font-size: 150%;
}

h5 {
	font-size: 125%;
}

h6 {
	font-size: 100%;
}

img {
	max-width: 100%;
}

code, pre {
	font-family: var(--font-mono);
}

:not(pre) > code {
	background: hsl(var(--gray) 50% / .1);
	border-radius: .15em;
	padding: .25em .4em .15em;
	color: hsl(var(--gray) 33%);
}

button, input, textarea, select {
	font: inherit;
	box-sizing: border-box;
}

input:where([type="number"]) {
	width: 3em;
}

input:where(:not([type]), [type="text"], [type="url"], [type="number"]), textarea, select {
	border: 1px solid hsl(var(--gray) 50% / .5);
	border-radius: .2em;
	padding: .2em .4em;
	min-width: 4em;
}

iframe {
	border: 0;
}

fieldset {
	border: none;
	margin: .5rem 0;
	background: hsl(var(--gray) 50% / .1);
	border-radius: .3em;

	& > legend {
		font-weight: bold;
	}
}

button {
	padding: .8em .9em;
	border: 1px solid hsl(var(--gray) 0% / .2);
	border-radius: calc(.15em + .15rem);
	background-color: white;
	cursor: pointer;
	font-size: var(--font-size-small);
	text-decoration: none;
	color: inherit;
	transition-duration: .2s;
	transition-property: background-color, border-color, color;
	line-height: 1.1;
	white-space: nowrap;

	&:disabled {
		cursor: not-allowed;
		opacity: .5;
	}

	&:active,
	&[aria-pressed="true"] {
		box-shadow: 0 .1em .2em hsl(0 0% 0% / .2) inset, 0 0 0 2em hsl(var(--gray) 50% / .12) inset;
	}

	&:where(:enabled) {
		&:hover {
			border-color: hsl(var(--accent-color-hs) 80%);
			background-color: hsl(var(--accent-color-hs) 95%);
			color: hsl(var(--accent-color-hs) 15%);
		}
	}

	/* Icon */
	& i {
		display: inline-block;
		opacity: .7;
	}

	&.icon-prefix:where(:not(.icon-only)) i:first-of-type {
		margin-right: .4em;
	}

	&.icon-suffix i:last-of-type {
		margin-left: .4em;
	}

	&[type=submit] {
		background: var(--accent-color-2);
		color: white;

		&:where(:enabled) {
			&:hover {
				border-color: hsl(var(--accent-color-2-hs) 80%);
			}
		}
	}
}

table {
	width: 100%;
	border: 1px solid hsl(var(--accent-color-2-hs) 40%);
	border-radius: .2em;
	border-spacing: 0;
	border-collapse: collapse;

	&:has(thead:only-child) {
		width: auto;
	}

	& th,
	& td {
		text-align: left;
		padding: .3em .4em;
		border: 1px solid hsl(var(--gray) 0% / .1);
	}

	& thead:not(:only-child) {
		background: hsl(var(--accent-color-hs) 92%);
		color: hsl(var(--accent-color-hs) 20%);
	}

	& thead:only-child {
		background: hsl(var(--gray) 96%);
	}

	& tbody,
	& tfoot {
		& tr:nth-of-type(even) {
			& td,
			& th {
				background: hsl(var(--gray) 0% / .02);
			}
		}
	}
}

body {
	display: flex;
	flex-direction: column;
	margin: 0;
	min-height: 100vh;
	font: 100%/1.5 var(--font-body);
	font-synthesis: none;
}

body > * {
	order: 10;
	padding: 1em var(--space-x);

	&:is(header) {
		display: grid;
		grid-template-columns: 1fr auto;
		grid-auto-flow: dense;
		order: 0;
		background: var(--accent-color);
		color: white;

		& > * {
			grid-column: 1;
		}

		& h1 {
			margin: 0;
			font-size: 300%;
			font: 900 italic 300%/1 var(--font-heading);

			& .ma {
				color: black;
			}

			& + p {
				margin: 0;
				margin-top: .3em;
				font-weight: bold;
			}
		}

		& img {
			position: absolute;
			right: var(--space-x);
			width: auto;
			height: 7em;
		}

		& a {
			color: inherit;
		}

		& .home {
			text-transform: uppercase;
			font-weight: 900;
			font-size: 75%;

			&:not(:hover) {
				text-decoration: none;
			}

			&::before {
				content: "🏠";
				margin-right: .3em;
			}
		}
	}

	&:is(footer) {
		margin-top: 2em;
		padding-block: 2em;
		font-size: 85%;
		background: hsl(var(--gray) 95%);

		& > .logo {
			display: flex;
			gap: .3em;
			align-items: center;
			justify-content:flex-end;
			font: 900 italic 130%/1 var(--font-heading);
			color: hsl(var(--color-blue-hs) 30%);

			& img {
				width: auto;
				height: 2.8em;
			}
		}

		& > nav {
			margin-top: .2em;
			text-align: right;
			font-weight: 500;

			& a {
				&:where(:not(:hover)) {
					text-decoration: none;
				}
			}
		}
	}
}

body > nav {
	order: 1;
	display: flex;
	padding-top: 0;
	padding-bottom: 0;
	background: hsl(var(--accent-color-hs) 65%);

	& > a {
		flex: 1;
		padding: .4em .5em;
		color: white;
		font-weight: bold;
		background: linear-gradient(to right, hsl(var(--accent-color-hs) 50%), hsl(var(--accent-color-hs) 75%)) no-repeat left / 0 100%;
		transition: .3s;

		&:hover {
			background-size: 100% 100%;
		}

		&:where(:not(:hover)) {
			text-decoration: none;
		}
	}
}

main {
	flex: 1 0 auto;

	& > h1,
	& > h2:first-child:only-of-type {
		font-size: 300%;
		color: var(--accent-color);
		--ts-offset: .03em;
		--ts-color: hsl(var(--gray) 30%);
	}
}

.gh-only {
	display: none;
}

.warning,
.note,
.tip {
	position: relative;
	padding: 1em 1em .1em;
	border-left: .8em solid var(--color);
	margin-top: 1em;
	background: hsl(var(--gray) 96%);

	&::before {
		content: var(--label);
		display: block;
		margin-bottom: -.5em;
		font-size: 80%;
		line-height: 1;
		font-weight: bold;
		text-transform: uppercase;
		color: var(--color);
	}

	&::after {
		content: var(--icon);
		position: absolute;
		top: -.3em;
		right: -.3em;
		font-size: 250%;
		font-variation-emoji: emoji;
		font-family: emoji;
	}
}

.warning {
	--icon: "⚠️";
	--label: "Warning";
	--color-hs: var(--color-orange-hs);
	--color: var(--color-orange);
}

.note {
	--icon: "📝";
	--label: "Note";
	--color-hs: var(--color-blue-hs);
	--color: var(--color-blue);
}

.tip {
	--icon: "💡";
	--label: "Tip";
	--color-hs: var(--color-green-hs);
	--color: var(--color-green);
}

#promo {
	background: hsl(var(--gray) 96%);
	padding-top: .4em;
	padding-bottom: .4em;
	font-weight: 300;
	white-space: nowrap;

	@media (width > 700px) {
		font-size: 250%;
	}

	& span[data-alternates] {
		color: var(--accent-color);
	}
}

span[data-alternates] {
	display: inline-grid;
	align-items: baseline;
	--dur: .3s;

	& > div {
		transition: var(--dur) font-size, 0s var(--dur) transform, 0s var(--dur) opacity;
		grid-column: 1;
		grid-row: 1;

		&:not(.active) {
			transform: translateY(-1.5em);
			transition: 0s;
			font-size: 0%;
			opacity: 0;
		}
	}
}

pre.language-ts {
	position: relative;
	&::before {
		content: "TypeScript Definition";
		position: absolute;
		top: .6em;
		right: .6em;
		padding: .35em .5em;
		border-radius: .2em;
		background: inherit;
		max-width: 10em;
		width: min-content;
		white-space: normal;
		filter: brightness(0.8) saturate(4);
		color: hsla(0 0% 0% / .6);
		text-align: center;
		font: bold 80%/1.2 var(--font-body);
		text-transform: uppercase;
	}
}