<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{ title or defaultTitle }}</title>
	<link rel="icon" href="{{ page | relative }}/logo.svg">
	<link rel="stylesheet" href="{{ page | relative }}/style.css" />

	{% if js -%}
	<script src="index.js" type="module"></script>
	{%- endif %}
	{{ includes | safe }}
</head>
<body>

{% if page.url and page.url !== "/" %}
<header>
	<a href="/">
		<img src="{{ page | relative }}/logo.svg" width="100" alt="Logo showing a cloud presented as a tree" />
	</a>

	<h1 class="logo"><span class="ma">ma</span>data</h1>

	<p>Make any cloud service with an API your backend!</p>
</header>
{% endif %}
<nav>
	<a href="/docs/">Docs</a>
	<a href="/backends/">Backends</a>
	<a href="/formats/">Formats</a>
	<a href="/components/">Components</a>
	<a href="/api/">API</a>
	<a href="https://github.com/madatajs/madata">GitHub</a>
</nav>

{% if page.url and page.url !== "/" %}<main>{% endif %}

{{ content | safe }}

{% if page.url and page.url !== "/" %}</main>{% endif %}

<footer>
	<div class="logo">
		<img src="{{ page | relative }}/logo.svg" alt="Logo showing a cloud presented as a tree" /> madata
	</div>

	<nav>
		<a href="/terms-of-service">Terms of Service</a> &bull;
		<a href="/privacy-policy">Privacy Policy</a>
	</nav>
</footer>

<script src="{{ page | relative }}/global.js" type="module"></script>

</body>
</html>