<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{ title or defaultTitle }}</title>
	<link rel="icon" href="{{ page | relative }}/logo.svg">
	<link rel="stylesheet" href="{{ page | relative }}/style.css" />

	{% if id and id != "v-app" %}
	<script src="{{ id }}.js" type="module"></script>
	{% endif %}
	{{ includes | safe }}
</head>
<body>

{% if page.url and page.url !== "/" %}
<header>
	<img src="{{ page | relative }}/logo.svg" alt="logo" />
	<a href="/" class="home">Home</a>

	<h1>Madata</h1>
	<p>Make any cloud service with an API your backend!
	A spinoff from <a href="https://mavo.io">Mavo</a>
</header>
{% endif %}
<nav>
	<a href="/docs/">Docs</a>
	<a href="/backends/">Backends</a>
	<a href="/api/">API</a>
	<a href="https://github.com/madatajs/madata">GitHub</a>
</nav>

{% if page.url and page.url !== "/" %}<main>{% endif %}

{{ content | safe }}

{% if page.url and page.url !== "/" %}</main>{% endif %}

<script src="{{ page | relative }}/global.js" type="module"></script>

</body>
</html>